body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #f0f0f0;
    color: #333;
    padding: 5px 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.nav-list {
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.auth-links {
    display: flex;
    align-items: center;
}

.auth-button {
    background-color: #0066FF;
    color: #fff;
    border: none;
    padding: 5px 13px;
    margin-left: 20px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-button:hover {
    background-color: #fff;
    color: #000;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
}

footer p {
    margin: 0;
}

/* Common Style for Glass Morphism Effect */
.glass-morphism {
    background: linear-gradient(135deg, #0a192f, #193549); /* Futuristic bluish gradient background */
    backdrop-filter: blur(20px); /* Increased blur for a futuristic glass effect */
    border-radius: 20px; /* Futuristic rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.15); /* Adjusted border opacity for a sleek look */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4), 0 4px 8px rgba(0, 0, 0, 0.2); /* Advanced box shadow for depth */
    transition: backdrop-filter 0.3s ease-in-out; /* Add a subtle transition effect */
}

.glass-morphism:hover {
    backdrop-filter: blur(25px); /* Adjusted blur on hover for an interactive feel */
}


/* Additional Styles for the Red Warning Message */
.error-message {
    color: red;
    margin-top: 5px;
}

/* Login and Create Account Widgets */
.login-widget,
.create-account-widget,
.booking-widget {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
    z-index: 1000;
    text-align: left;
    width: 300px;
}

.login-widget form,
.create-account-widget form,
.booking-widget form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
}

.login-widget form label,
.create-account-widget form label,
.booking-widget form label {
    margin-bottom: 5px;
}

.login-widget form input,
.create-account-widget form input,
.booking-widget form input,
.login-widget form select,
.create-account-widget form select,
.booking-widget form select,
.login-widget form button,
.create-account-widget form button,
.booking-widget form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-widget form button,
.create-account-widget form button,
.booking-widget form button {
    background-color: #0066FF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-widget form button:hover,
.create-account-widget form button:hover,
.booking-widget form button:hover {
    background-color: #fff;
    color: #000;
}

.login-widget .close,
.create-account-widget .close,
.booking-widget .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

.create-account,
.back-to-login {
    margin-top: 10px;
    text-align: center;
}

.create-account a,
.back-to-login a {
    color: #0066FF;
    text-decoration: none;
    cursor: pointer;
}

.create-account a:hover,
.back-to-login a:hover {
    text-decoration: underline;
}

/* Booking Widget Styles */
.booking-widget form input[type="text"],
.booking-widget form input[type="tel"],
.booking-widget form input[type="date"],
.booking-widget form select {
    width: calc(100% - 21px);
}

.booking-widget form button {
    background-color: #0066FF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.booking-widget form button:hover {
    background-color: #fff;
    color: #000;
}

.booking-widget .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}
.main-content-text h2 {
    font-size: 90px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    font-family: 'SmoothFont', sans-serif; /* Replace 'SmoothFont' with the actual name of your preferred smooth font */
    margin-bottom: 5px;
}
/* Apply the color to the span */
#screenplay-highlight {
    color: #0066FF; /* Set the color to fb5607 (orange) */
}

#screenplay-2-highlight {
    color: #0066FF; /* Set the color to fb5607 (orange) */
}

.main-content-text h3 {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: normal;
    text-align: center;
    padding-bottom: 1px;
    font-family: 'SmoothFont', sans-serif; /* Replace 'SmoothFont' with the actual name of your preferred smooth font */
}


.main-content-text h4 {
    font-size: 30px; /* Adjust the font size as needed */
    font-weight: bold;
    text-align: center;
    padding-bottom: 1px;
    font-family: 'SmoothFont', sans-serif; /* Replace 'SmoothFont' with the actual name of your preferred smooth font */
}


/*step*/
.steps-section {
    margin-top: 50px;
}

.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.step {
    text-align: center;
    position: relative;
}

.step-number {
    font-size: 50px;
    font-weight: bold;
    color: #0066FF;
    border: 2px solid #0066FF;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    line-height: 90px;
    display: block;
    margin: 0 100px; /* Adjust the margin as needed for equal gaps */
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
    transition: background-color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), filter 0.3s ease-in-out; /* Added filter transition for futuristic effect */
    transform-origin: center center;
    will-change: transform, filter;
}


.step:hover .step-number {
    background-color: #0066FF;
    color: #fff;
    transform: scale(1.1);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.1);
    filter: brightness(1.2); /* Adjusted brightness on hover for a futuristic glow effect */
}

.step-name {
    font-style: italic;
    font-weight: bold;
    margin-top: 10px;
    color: #333;
    font-size: 30px;
    ;

    
}

.step-details {
    font-style: italic;
    margin-top: 5px;
    color: #0a192f;
    font-size: 20px;
    
}

/* Curvy dotted line connecting circles */
/* Curvy dotted line connecting circles */
/* Curvy dotted line connecting circles */
/* Curvy dotted line connecting circles */
.step:not(:last-child)::before {
    content: "";
    position: absolute;
    width: 375px;
    height: 1px;
    background-color: #0066FF; /* Color of the line */
    top: 23%; /* Maintain top position */
    left: calc((120% - 5px) / 2); /* Adjust based on the total width of circles */
    transform: translateY(-50%);
    transition: width 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

